<ion-header>
  <ion-toolbar>
    <ion-button (click)="goBack()" slot="start">
        <ion-icon name="undo"></ion-icon>
    </ion-button>
    <ion-title>New Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="floating">Date</ion-label>
    <ion-datetime [(ngModel)]="date" display-format="MMM DD, YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input type="text" [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Message</ion-label>
    <ion-input type="text" [(ngModel)]="message"></ion-input>
  </ion-item>
  <div margin>
    <ion-button expand="full" (click)="addTodo()">Add Todo</ion-button>
  </div>

</ion-content>
