
.title {
  color: var(--ion-color-red);
  font-size: 4rem;
  text-align: center;
  font-weight: bolder;
}

.grid-container {
  margin: 10% 2em 2em 2em;
  display: grid;
  grid-row-gap: 30px;
  justify-items: center;
  align-content: center;
}

img {
  justify-self: center;
  margin-left: 1em;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  width: 100%;
}

ion-button {
  --background: var(--ion-color-red);
  --background-activated: var(--ion-color-danger-shade);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

// Incorrect button opacity
.loginButton{
  opacity: .5;
}


@media screen and (min-width: 400px) {

  .buttons[_ngcontent-c0] {
    width: 20rem;
  }

  .grid-container {
    margin-top: 1rem;
  }
}
