<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="grid-container">

    <div class="title">Tudoos</div>

    <div class="image">
      <img src="../../../assets/LogoLogo.svg" alt="Main Logo">
    </div>

    <div class="inputs">
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-input placeholder="email" type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="unlock" slot="start"></ion-icon>
        <ion-input placeholder="password" type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    </div>

    <div class="buttons">
        <ion-button *ngIf="user.password && user.email; else disableButton" (click)="toLogin()" expand="full">Login</ion-button>

        <ng-template #disableButton>
          <ion-button class="loginButton" expand="full">Login</ion-button>
       </ng-template>

        <ion-button expand="full" (click)="toRegister()">Register</ion-button>
      </div>
    
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar></ion-toolbar>
</ion-footer>
