<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="grid-container">

    <div class="title">Register</div>

    <div class="inputs">
      <ion-item>
        <ion-input [(ngModel)]="newUser.firstName" placeholder="First Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newUser.lastName" placeholder="Last Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="newUser.email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" [(ngModel)]="newUser.password" placeholder="Password"></ion-input>
      </ion-item>
    </div>

    <div class="button">
      <ion-button *ngIf="newUser.firstName && newUser.lastName && newUser.email && newUser.password; else disableButton " expand="full" (click)="register()">Sign Up!</ion-button>

      <ng-template #disableButton>
        <ion-button expand="full" class="loginButton">Sign Up!</ion-button>
      </ng-template>
      <ion-button expand="full" (click)="toLogin()">Login</ion-button>
    </div>
  </div>

</ion-content>

<ion-footer>
    <ion-toolbar></ion-toolbar>
</ion-footer>
