<ion-header>
  <ion-toolbar>
    <ion-title>Tudoos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="grid-container">

    <div class="title">Register</div>

    <div class="inputs">
      <ion-item>
        <ion-input placeholder="First Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Last Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Password"></ion-input>
      </ion-item>
    </div>

    <div class="button">
      <ion-button expand="full">Sign Up!</ion-button>
      <ion-button expand="full" (click)="toLogin()">Login</ion-button>
    </div>
  </div>

</ion-content>

<ion-footer>
    <ion-toolbar></ion-toolbar>
</ion-footer>
