<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Todo's</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item lines="none" *ngFor='let todo of todos'>

      <ion-checkbox slot="start"
      [(ngModel)]="todo.checked"></ion-checkbox>

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{todo.title}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            {{todo.message}}
          </ion-card-content>
        </ion-card>
    </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    </ion-fab>
</ion-content>
