<ion-header>
  <ion-toolbar>
    <ion-title>Todo's</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="todosLength === 0">
  <div class="noTodos">
    <div>
      <img src="" alt="">
    </div>
    <h5>All done</h5>
    <p>
      Looks like you have completed all of your todos. Tap + to add a task.
      
    </p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTodo()">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content *ngIf='todosLength > 0' padding>

  <ion-list *ngFor="let todo of todos">
      <ion-item-sliding>
        <ion-item *ngIf="todo.checked; else notChecked">
          <ion-label>{{todo.title}}</ion-label>
          <ion-label><span class="date">{{todo.date}}</span></ion-label>
          <ion-note slot="end"><ion-icon color="success" name="checkmark"></ion-icon></ion-note>
        </ion-item>

        <ng-template #notChecked>
          <ion-item>
            <ion-label>{{todo.title}}</ion-label>
            <ion-label><span class="date">{{todo.date}}</span></ion-label>
             <ion-note slot="end"><ion-icon color="primary" name="podium"></ion-icon></ion-note>
          </ion-item>
        </ng-template>

        <ion-item-options side="end">
          <ion-item-option ><ion-checkbox [(ngModel)]="todo.checked" (click)="updateTodo(todo)"></ion-checkbox></ion-item-option>

          <ion-item-option color="danger" (click)="deleteTodo(todo.id)"><ion-icon name="trash"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTodo()">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
