<ion-header>
  <ion-toolbar>
    <ion-title>Todo's</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="todosLength === 0">
  <div class="noTodos">
    <div>
      <img src="" alt="">
    </div>
    <h5>All done</h5>
    <p>
      Looks like you have completed all of your todos. Tap + to add a task.
      
    </p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTodo()">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-content *ngIf='todosLength > 0' padding>
  

    <ion-item-sliding *ngFor="let todo of todos">
      <ion-item lines="none">

        <ion-checkbox slot="start"
        [(ngModel)]="todo.checked"></ion-checkbox>

        <ion-card>
          <ion-card-header>
            <ion-card-title>{{todo.title}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            {{todo.message}}
          </ion-card-content>   
        </ion-card>
        
      </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteTodo(todo)" color="danger">
            <ion-icon size="large" name="close"></ion-icon>
          </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>





  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTodo()">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
